html {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    z-index: 1;
}
table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 10px;
}

table tr:hover {
    background-color: #ddd;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    table td, table th {
        border: 1px solid #ddd;
        padding: 6px;
    }
}

/* BOTON PESQUEROS  */
#buques-pesqueros {
    z-index: 10;
    position: absolute;
    background-color: darkorange;
    border-radius: 50%;
    width: 3.5rem;
    bottom: 0;
    right: 0;
    margin: 2rem;
    cursor: pointer;
    border: solid #000000;
}

@media only screen and (min-width: 480px) {
    #buques-pesqueros {
        width: 5rem;
        bottom: 0;
        right: 0;
    }
}

/* POP UP */

#popUp {
    z-index: -1;
    position: absolute;
    display: grid;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

#popUp table tr{
    background-color: #f58700;
}

#popUp table tr:nth-child(even){
    background-color: #c76e00;
}

/* SALIR */
#salir {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#salir p {
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    border: solid black;
    cursor: pointer;
}

/*  LOADER  */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }